/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './assets/bootstrap.css';

span.bold-green {
    font-weight: bold;
    color: #02706c;
}

.pull-right {
    position: absolute;
    right: 10px;
    text-align: right;
}
