<!--
<div>
  <h1>CUSTOMER</h1>
  {{customer.id}} - {{customer.firstName}} - {{customer.lastName}} - {{customer.email}}

  <h1>CART</h1>
  id: {{cart.id}}
  idCustomer: {{cart.idCustomer}}
  total TTC: {{cart.totalTtc}}
  <span *ngFor="let product of cart.products">
    <div>{{product.id}} - {{product.reference}} - {{product.priceTtc}}</div>
  </span>
</div>
-->




<mat-card class="blue-card-info">
  <mat-card-header>
    <mat-card-title><span class="bold-green">Veuillez saisir les coordonnées bancaires</span></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <br/>
    <div *ngIf="invalidError" style="color:red">
      {{ invalidError.message }}
    </div>
    <br/>
    <stripe-card
            #stripeCard
            (catch) = "onStripeError($event)"
            [(invalid)] = "invalidError"
            (tokenChange) = "setStripeToken($event)">
    </stripe-card>
  </mat-card-content>
  <mat-card-actions>
    <a (click)="stripeCard.createToken(extraData)" class="btn btn-primary btn-primary-commander pull-right" style="border-width: 0px">COMMANDER</a><br/>
  </mat-card-actions>
</mat-card>
