<div>
  <h1>CUSTOMER</h1>
  {{customer.id}} - {{customer.firstName}} - {{customer.lastName}} - {{customer.email}}

  <h1>CART</h1>
  id: {{cart.id}}
  idCustomer: {{cart.idCustomer}}
  total TTC: {{cart.totalTtc}}
  <span *ngFor="let product of cart.products">
    <div>{{product.id}} - {{product.reference}} - {{product.priceTtc}}</div>
  </span>
</div>

<div *ngIf="invalidError" style="color:red">
  {{ invalidError.message }}
</div>

<h2>Veuillez saisir les coordonnées bancaires </h2>
<stripe-card
  #stripeCard
  (catch) = "onStripeError($event)"
  [(invalid)] = "invalidError"
  (tokenChange) = "setStripeToken($event)"
></stripe-card>

<button type="button" (click)="stripeCard.createToken(extraData)">Valider</button>

